albumentations==0.4.6
click==7.1.2
editdistance==0.5.3
efficientnet-pytorch==0.6.3
imageio==2.5.0
imantics==0.1.12
imbalanced-learn==0.6.2
imgaug==0.4.0
implicit==0.4.2
interpret==0.2.1
interpret-core==0.2.1
iterative-stratification==0.1.6
matplotlib==3.0.3
networkx==2.3
numpy==1.16.6
opencv-python==4.4.0.44
pandas==0.25.1
Pillow==7.2.0
pretrainedmodels==0.7.4
pytesseract==0.3.6
pytorch-tabnet==1.2.0
scikit-image==0.17.2
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.11.0
segmentation-models-pytorch==0.1.2
solt==0.1.9
torch==1.6.0
torchvision==0.7.0
tqdm==4.43.0
xgboost==0.90
